/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

p, li{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    
}

p {
    text-align: center;
    line-height: 1.5em;
}

/*.thumbnails img {
    display: block;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}*/

hr {
    border-top: 2px dashed pink;
    border-bottom: none
    
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center
}

.thumbnails p {
    color: black;
}

.thumbnails h3, h2 {
    color: black;
}

h1 {
    margin-top: 0;
}

.wrapper {
    margin-left: 1em;
    margin-right: 1em;
}

/*#profile-pic {
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}*/

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.intro-bits {
    background-color: cadetblue;
}

.main-header {
    background-color: cadetblue;
}

.contact-color {
    background-color: cadetblue;
}

.main-header h1 {
        text-align: center;
        display: block;
        padding-top: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

.main-header li{
    display: block;
    text-align: center;
    background-color: lightcoral;
    margin-top: 5px;
    
}

.main-header a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-header li:hover{
    background-color: lightsalmon;
    transition-duration: .5s;
}

/* ---- Footer Nav ---- */



.main-footer div,
.footer-list {
    display: flex;
}

.main-footer h3 {
    margin-right: auto;
}

.footer-list{
    flex-direction: row;
    align-self: center;
}

.footer-list li {
    margin-left: 1em;
}

/*
.main-footer h3{
    display: inline-block;
    font-size: 14px;
    margin-right: 50%;
    font-size: 1em;
}

.main-footer ul {
    display: inline-block;
}

.main-footer li {
    display: inline-block;
}
*/

/*
.intro-bits p {
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 0;
}
*/

/* ---- Layout Containers ---- */

/*.intro-bits {
    background-color: cadetblue;*/

/*Without this part the image #profile-pic takes up the whole space.*/



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 320px) {
    
    #profile-pic {
        display: block;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 30px;
}
    
    .thumbnails img {
        display: block;
        width: 90%;
        text-align: center;
        margin: 0 auto;
}
    
    .intro-bits p {
        padding-bottom: 30px;
        padding-top: 0;
        margin-top: 0;
}
    .thumbnails p {
        margin-bottom: 30px;
    }
    
    .contact-text-styling h3 {
        padding-top: 30px;
    }
    
    .extra-nav{
        display: none;
    }
    .solo-nav {
        display: block;
    }
    
}

@media (min-width: 768px){
    
.main-header h1 {
        text-align: center;
        display: block;
        padding-top: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
.main-header ul{
        text-align: center;
}

.main-header li{
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    background-color: transparent;
    
}

.main-header a {
    display: block;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-color: lightpink;
}
    
    .intro-bits{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    #profile-pic {
        float: right;
        width: 40%;
        padding-top:0;
        padding-bottom: 0;
        padding-right: 1.5em;
        margin-left: 2em;
    }
    
    .intro-bits p {
        text-align: left;
        font-size: 1.3em;
        margin-left: 1.15em;
        padding-right: 1em;
    }
    
    .solo-nav{
        display: none;
    }
    .extra-nav{
        display: block;
    }

.col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.col p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 1.5em
}
    
    .col h3 {
    font-size: 1.5em;
}

.thumbnails h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.1em;
    }

.contact-text-styling p {
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    }
    
.contact-text-styling h3 {
    font-size: 2.1em;
    }

}

@media (min-width: 1024px){
.main-header div,
.main-header ul {
    display: flex;
}

.main-header h1 {
    margin-right: auto;
}

.main-header li{
    flex-direction: row;
    align-self: center;
    margin-left: 1em;
}

    .intro-bits p {
        font-size: 1.7em;
    }

.main-header ul {
    margin-right: 1em;
}
    
    .col {
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    vertical-align: top;
}
    #profile-pic {
    width: 25%;
    }
    
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;}