/* ================================= 
  Media Queries
==================================== */

@media (min-width: 320px) {
    
    #profile-pic {
        @include presentation(block, 75%,)


        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 30px;
}
    
    .thumbnails img {
        display: block;
        width: 90%;
        text-align: center;
        margin: 0 auto;
}
    
    .intro-bits p {
        padding-bottom: 30px;
        padding-top: 0;
        margin-top: 0;
}
    .thumbnails p {
        margin-bottom: 30px;
    }
    
    .contact-text-styling h3 {
        padding-top: 30px;
    }
    
    .extra-nav{
        display: none;
    }
    .solo-nav {
        display: block;
    }
    
}

-