//Colors

$blue              :cadetblue;
$pink              :lightcoral;
$lightpink         :lightpink;
$hipink            :lightsalmon;

$color-prim        :$blue;
$color-sec         :$pink;
$button-pink       :$lightpink;
$hover-link        :$hipink;
$black             :black;

//fonts

$raleway           :"Raleway", sans-serif;

//weights
$lightwt           :400;
$midwt             :700;